<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form onsubmit="createPro();return false">
        <label for="ProjectName">Project Name</label>
        <br>
        <input id="ProjectName" name="ProjectName" aria-placeholder="Project Name" />
        <br>
        <button onclick="submit" >Submit</button>
    </form>
</body>
<script src="project.js"></script>
</html>